@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

:root {
  --white: #FFF;
  --lightBrown: #BF7E68;
  --medBrown: #914D41;
  --lightGreen: #DFEFE2;
  --medGreen: #91C190;

}

* {
  margin: 0;
  font-family: 'Titan One', cursive;
  font-weight: lighter;
  text-align: center;
}

body {
  background-color: var(--medBrown);
}

header {
  color: var(--lightGreen);
  display: flex;
  justify-content: center;
  
}

h1 {
  color: var(--white);
  font-size: 5em;
}

header img {
  position: absolute;
  left: 0;
  margin: 10px;
  width: 7em;
}

nav img {
  color: var(--white);
}