@import "root.css";

.recipe {
   position: relative;
}

.recipe a {
   height: 100px;
}

.recipe img,
.saved-image {
   width: 100%;
   height: 100%;
   border-radius: 20px;
}

.recipe h5 {
   text-align: right;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: var(--lightGreen);
   padding: 15px 15px 15px;
   position: absolute;
   right: 0px;
   bottom: 0px;
   
}

.black-gradient {
   position: absolute;
   width: 100%;
   height: 100%;
   background-image: linear-gradient(to bottom, #00000000,#00000027,#0000006f, #0000009e, #000000d8);
   border-radius: 20px;
}

.recipe button {
   cursor:pointer;
   position: absolute;
   right: 10px;
   top: 0px;
   border: unset;
   background-color: transparent;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-weight: bold;
   font-size: 2.5em;
   color: var(--white);
   text-shadow: 0 0 10px #2957346b;
   z-index: 0;
}

.recipe button:before {
   content: attr(data-text);
   -webkit-text-stroke: 2px var(--medBrown);
   position: absolute;
   left: 6px;
   z-index: -1
 }