@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

:root {
    --white: #FFF;
    --lightBrown: #BF7E68;
    --medBrown: #914D41;
    --lightGreen: #c8e2cd;
    --medGreen: #91C190;
    --neutralGrey: #333;
  }
  
  * {
    margin: 0;
    font-family: 'Titan One', cursive;
    font-weight: lighter;
    text-align: center;
  }

  ::-webkit-scrollbar {
    width: 20px; 
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border: 6px solid var(--lightGreen);
    border-radius: 10px;
    background: var(--medGreen);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--medGreen);
  }

  .tooltip {
    position: relative;
    transition: all 500ms ease-in;
  }

  .tooltip:after{
    content: attr(data-tooltip);
    background-color: var(--neutralGrey);
    color: var(--white);
    padding: 2px 4px;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;

    position: absolute;
    left: 10px;

    opacity: 0;
    transition: opacity 250ms ease-in 0s;
  }
  
  .tooltip:hover:after {
    font-size: 0.7em;
    opacity: 1;
    transition: opacity 250ms ease-in 1s;
  }  