@import "../root.css";

#navigationForm {
   all: unset;
   position: flex;
   justify-content: center;
   align-items: center;
   height: calc(100vh - 175px);
   display: grid;
   grid-template: repeat(6, 1fr) / 1fr;
   width: 90px;
   position: absolute;
   bottom: 0px;
}

.bar li {
   width: 4px;
   height: 30px;
   border-radius: 4px;
   background-color: var(--medBrown);
   margin-right: 2px;
}

li:active{
   filter: invert(0.4) sepia(1.9) saturate(1.1) hue-rotate(85deg);
}
